---
layout: default
title: Corona Training
---

<h1>Corona Training</h1>

<p>Liebe Trainierende!<br /><br /> Damit ihr in Zeiten von Corona nicht komplett auf Bewegen verzichtet, haben wir euch eine kleine Auswahl von Anleitungen und Videos zusammen gestellt, die eure Motivation anregen sollen und nach denen ihr trainieren könnt. Die Videos sind dabei ganz unterschiedlich, von konkreten Übungsabläufen bis zur theoretischen Auseinandersetzung mit dem Thema ist einiges dabei.<br />
Wenn ihr ein Video oder eine Anleitung habt, die eurer Meinung unbedingt hier hinein gehört, schreibt uns an: <a href="mailto:akademiegraz@indes.at">akademiegraz@indes.at</a></p>
<p>Viel Spaß beim Trainieren!</p>

<section class="data-grid">
	{% include documents.html %}
</section>

<section class="data-grid">
	{% include videos.html %}
</section>