<nav>
    {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %} target="{{ item.target }}">
            {{ item.name }}
        </a>
    {% endfor %}
</nav>