body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0px 0px calc( #{$padding} * 2 ) 0px;
}

main {
    padding: $padding;
    max-width: $break-xl;
    margin: auto;
}



html, body {
    font-family: $font_serif;
    line-height: 1.4em;
    color: $color_text;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font_sans-serif;
    color: $color_indes_blue;
}
h1, h2 {
    letter-spacing: -0.8px;
}
h3, h4, h5, h6 {
    letter-spacing: 0px;
}
h6 {
    text-transform: uppercase;
}