.data-grid  {
    padding-top: 40px;
    padding-bottom: 20px;
}

.videos {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: calc( #{$padding} * 2 );
    padding: 0px;
    @media screen and (min-width: $break-md) {
        max-width: calc( 100% - calc( #{$padding} * 2 ) );
        grid-template-columns: 50% 50%;
        grid-column-gap: calc( #{$padding} * 2 );
    }
    @media screen and (min-width: $break-xl) {
        max-width: calc( 100% - calc( #{$padding} * 4 ) );
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: calc( #{$padding} * 2 );
    }
    ul {
        padding: 0px;
    }
    li {
        list-style: none;
    }
}

.videos__entry {
    background-color: rgba( $color_indes_pergament, .2 );
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 2px solid rgba( $color_indes_pergament, .6 );
    box-shadow: 1px 1px 4px 1px rgba( $color_indes_pergament, .4 );
    &__type {
        padding: 0px 10px 2px 10px;
        margin: 0;
        background-color: rgba( $color_indes_pergament, .6 );
        color: $color_indes_blue;
        text-align: right;
    }
    h3, h4, p {
        padding: 0px 10px;
    }
    h6 {
        position: relative;
        span {
            position: absolute;
            left: 10px;
        }
    }
    a { 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        svg {
            max-width: 50%;
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}