@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.eot');
    src: url('../../assets/fonts/Oswald.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald.ttf') format('truetype'),
        url('../../assets/fonts/Oswald.woff2') format('woff2'),
        url('../../assets/fonts/Oswald.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'PTSerif-Regular';
    src: url('../../assets/fonts/PTSerif-Regular.eot');
    src: url('../../assets/fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/PTSerif-Regular.ttf') format('truetype'),
        url('../../assets/fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../../assets/fonts/PTSerif-Regular.woff') format('woff');
    font-weight: normal;
}





$font_sans-serif: 'Oswald', sans-serif;
$font_serif: 'PTSerif-Regular', serif;