nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    background-color: $color_nav_bg;
    box-shadow: 0px 0px 8px 4px rgba( $color_indes_pergament, .4 );
    a {
        font-family: $font_sans_serif;
        color: $color_indes_blue;
        
        padding: 4px 10px;
        
        &.current {
            background-color: rgba( 255, 255, 255, .3 );
        }
    }
}

