$color_indes_blue: rgb(15, 40, 130);
$color_indes_pergament: rgb(220, 190, 110);
$color_indes_black: rgb(0, 0, 0);
$color_indes_white: rgb(255, 255, 255);

$color_text: rgb(40, 40, 40);

$color_nav_bg: $color_indes_pergament;


$break-sm: 544px;
$break-md: 768px;
$break-l: 992px;
$break-xl: 1200px;


$padding: 20px;
